.ProvidersRoute {
  .connectedProvidersList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--c-text);
      border-radius: 8px;
      background: var(--c-bg-bright);
      padding: 8px;
    }
  }
}
