@import "styles/variables";

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  background: #000;
  height: 100dvh;
  color: #fff;

  .header {
    grid-row: 1;
    grid-column: 1/-1;
    padding: 4px 8px;
    .logo {
      box-sizing: content-box;
      border: 2px solid #f1f1f1;
      border-radius: 100%;
      padding: 4px;
      width: 32px;
      height: 32px;
    }
  }

  .editor {
    grid-row: 2;
    grid-column: 1;
  }

  .sidebar {
    grid-row: 2;
    grid-column: 3;
  }

  .footer {
    grid-row: -1;
    grid-column: 1 / span all;
  }

  .markdownPreview {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    white-space: pre-wrap;
  }
}
