.ProseMirror {
  &:focus-visible {
    outline: none;
  }
  > *:where(p, ol, ul, h1, h2, h3, h4, h5, h6) {
    margin: 0;
  }
  // & > * {
  //   margin: 0;
  // }

  & > * + * {
    margin-top: 0.5em;
  }

  ul,
  ol {
    padding: 0 2ch;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
  }

  pre {
    border-radius: 0.5rem;
    background: #0d0d0d;
    padding: 0.75rem 1rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
  }

  pre code {
    background: none;
    padding: 0;
    color: inherit;
    font-size: 0.8rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin: 0 0 0 2ch;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
    padding-left: 2ch;
  }

  hr {
    margin: 2rem 0;
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
  }
}
